<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @alias.user.login %>
</p>

<p>
  <b>Alias:</b>
  <%= @alias.alias %>
</p>

<div class="button right">
  <%= link_to 'Edit alias', edit_alias_path(@alias) %>
</div>
